:root {
 --mainWhite: #f2f3f7;
 --buttonWhite:-2px -2px 5px rgba(255,255,255,1),
                 3px 3px 5px rgba(0,0,0,.07); 
 --buttonWhiteActive:inset -2px -2px 5px rgba(255,255,255,1),
                     inset 3px 3px 5px rgba(0,0,0,.07);
 --iconWhiteVer:#6a9bd8;
 --mainDark:#222;
  --buttonDark:inset -2px -2px 5px rgba(0,0,0,0.5),
                     inset 3px 3px 5px rgba(255,255,255,.07);
 --buttonDarkActive:-2px -2px 5px rgba(0,0,0,0.5),
                 3px 3px 5px rgba(255,255,255,.07); 

 --iconDarkVer:#3e3e3e;
 --iconDarkVerActive:0 0 10px rgba(33,156,243,1),
                      0 0 10px rgba(33,156,243,1);
 --iconDarkLine:0 0 10px rgba(33,156,243,.5),
   0 0 20px rgba(33,156,243,.5),
   0 0 30px rgba(33,156,243,.5),
   inset 0 0 10px rgba(33,156,243,.5),
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

html {
	background-color: #333;
}

body {
  background-image: radial-gradient(30% 50%, #555 6%, #333 90%);
	color: #ccc;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
